[Unit]
Description = Catalogue Service

[Service]
User=roboshop
Environment="{{ lookup('aws_ssm', '{{ env }}.catalogue.mongo', region='us-east-1' ) }}"
Environment=MONGO_URL='mongodb://username:password@mongodb:27017/catalogue?tls=true&replicaSet=rs0&readPreference=secondaryPreferred&retryWrites=false'
ExecStart=/bin/node /app/server.js
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target


